<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
	
	<th:block th:fragment="ajaxLoadedContent">
	
		<div class="container" id="vueContent" 
			style="margin-bottom: 100px;margin-top: 100px;font-family: Oswald, sans-serif">
    		<h3>Add a new Product</h3>
    		<form id="productForm">
        		<div class="row">
            		<div class="col-sm-5">

                		<div class="form-group">
                    		<label for="name">Name</label>
                    		<input 
                    			type="text" 
                    			class="form-control"                    			                   			
                    			id="name"                 	
                           		th:placeholder="${'Enter name'}" 
                           		v-model="name"
                           	/>
                           	<span class="text-danger" id="nameError" 
                        		th:style="${'visibility: hidden;'}" 
                        		th:text="${'Not empty!Max 30 letters!'}">
                        	</span>
                		</div>
                		            
                		<div class="form-group">
                    		<label for="category">Select Category</label>
                    		<select class="form-control"  id="categoryId" v-model="categoryId">
                    			<option value="">Select Category</option>
                        		<option v-for="(category,c) in categoryList" :key="c"
                                	v-bind:value="category.categoryId"
                                >
                                	{{ category.name }}
                                </option>                                                
                    		</select>
                    		<span class="text-danger" id="categoryIdError" 
                        		th:style="${'visibility: hidden;'}" 
                        		th:text="${'Please secect category!'}">
                        	</span>
                		</div>
                		
                		<div class="form-group">
                    		<label for="price">Price</label>
                    		<input 
                    			type="text" 
                    			class="form-control" 
                    			id="price"
                           		th:placeholder="${'Price'}" 
                           		v-model="price"
                           		th:onkeypress="return validateNumber(event)"
                           	/>
                           	<span class="text-danger" id="priceError" 
                        		th:style="${'visibility: hidden;'}" 
                        		th:text="${'Please provide valid price!'}">
                        	</span>
                		</div>
                		
                		<div class="form-group">
                    		<label for="weight">Weight in grams</label>
                    		<input 
                    			type="text" 
                    			class="form-control" 
                    			id="weight"
                           		th:placeholder="${'Weight'}" 
                           		v-model="weight"
                           		th:onkeypress="return validateNumber(event)"
                           	/>
                           	<span class="text-danger" id="weightError" 
                        		th:style="${'visibility: hidden;'}" 
                        		th:text="${'Please provide valid weight!'}">
                        	</span>
                		</div>
                		
                		<div class="form-group">
                    		<label for="description">Product Description</label>
                    		<textarea 
                    			class="form-control" 
                    			rows="5" 
                    			id="description"
                    			v-model="description">
                    		</textarea>
                    		<span class="text-danger" id="descriptionError" 
                        		th:style="${'visibility: hidden;'}" 
                        		th:text="${'Not empty!Max 100 letters'}">
                        	</span>
                		</div>
                		
                		<div class="form-group">
                    		<label for="imageUrl">Image Url</label>
                    		<input 
                    			type="text" 
                    			class="form-control" 
                    			id="imageUrl"
                           		th:placeholder="${'Image URL'}" 
                           		v-model="imageUrl"
                           	/>
                           	<span class="text-danger" id="imageUrlError" 
                        		th:style="${'visibility: hidden;'}" 
                        		th:text="${'Not empty!Maximum 255 letters'}">
                        	</span>
                		</div>
            		
            			<div class="mt-5">
                			<button type="submit" class="btn btn-primary">Update</button>
            			</div>
        			</div>
        		</div>
    		</form>
		</div>
		
		<script th:src="@{/js/products.js?newversion}"></script>
		
		<script>
			$(document).ready(function() {
				productApp.getAllCategories();
				productApp.getAllProducts();
				var productId = "[[${productId}]]";
				productApp.getSelectedProduct(productId);
			});
			
			var element = document.getElementById("productForm");
			element.addEventListener("submit", event => {
  				event.preventDefault();
  				executeProductForm();
  			});
		</script>
	</th:block>